
# May come from Conda
pytest
QuantLib-Python

# pip dependencies
xloil

hatch  # For packaging
build  # Build wheel
twine  # Uploading to PyPI

sphinx # For documentation
myst-parser # For parsing markdown in Sphinx
furo # Sphinx theme
